/* 기본 스타일 */
body {
  font-family: Arial, sans-serif;
  background-color: #9b9a77;
  color: #333;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #9b9a77;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#auth-section,
#game-section {
  margin-top: 20px;
}

#signup-result,
#login-result,
#changeName-result,
#signOut-result,
#character-selection-result,
#item-selection-result {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

#game-section {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#equipped-character img {
  display: block;
  margin: 10px auto;
}

#equipped-character p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#character-list,
#item-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.character-btn,
.item-btn {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  cursor: pointer;
}

.character-btn:hover,
.item-btn:hover {
  background-color: #e0e0e0;
}

#inventory-list {
  list-style-type: none;
  padding-left: 0;
}

#inventory-list li {
  padding: 10px;
  background-color: #f8f8f8;
  margin: 5px 0;
  border-radius: 4px;
}

/* 다크 모드 스타일 */
.dark-mode {
  background-color: #333;
  color: white;
}

.dark-mode button {
  background-color: #555;
  color: white;
}

.dark-mode button:hover {
  background-color: #444;
}

.dark-mode input {
  background-color: #444;
  color: white;
  border: 1px solid #666;
}

.dark-mode form {
  background-color: #444;
}

.dark-mode #game-section {
  background-color: #444;
}

.dark-mode .character-btn,
.dark-mode .item-btn {
  background-color: #555;
}

.dark-mode .character-btn:hover,
.dark-mode .item-btn:hover {
  background-color: #666;
}

.dark-mode #inventory-list li {
  background-color: #555;
}
